/*  #############################################   GENERAL   #############################################  */

html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #03829e;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}
/* --------------------------------------------- HEADER --------------------------------------------- */
.header {
  position: sticky;
  top: 0;
  background-color: #f5d6ff;
  z-index: 1;
}

.carousel {
  justify-content: center;
}

.banner {
  display: flex;
  height: 150px;
  align-items: center;
  justify-content: center;
  background-image: url("../images/banner1.jpeg");
  background-size: cover;
}

.banner img {
  width: 70%;
}

.mobile-hidden,
.oculto {
  display: none;
}

/* --------------------------------------------- NAV --------------------------------------------- */
ul.nav-items {
  list-style: none;
  padding: 0;
}

.nav.show {
  display: flex;
  flex-direction: column;
}

.nav {
  display: none;
  border-bottom: 4px solid #f5d6ff;
  background-color: #fbefff;
}

.nav.nav-tabs.tabs-admin {
  justify-content: center;
}

.btn-admin:hover{
  background-color: #164f5a;
  text-decoration: none;
  color: aliceblue;
}

.nav-items li,
.nav-items li a,
.item-nav-admin li a {
  margin: 3px;
  padding: 3px;
  padding-top: 15px;
  color: #03829e;
  font-weight: bold;
  text-decoration: none;
}

.item-nav-admin {
  list-style: none;
  padding: 10px;
  font-size: 30px;
  margin: 0;
}

.nav-admin-logout {
  justify-content: flex-end !important;
}

.nav-admin-back {
  justify-content: flex-start !important;
}

.ver-mas,
.ver-menos {
  font-weight: bold;
}

.ver-mas .fa-plus-square,
.ver-menos .fa-minus-square {
  font-size: 10px;
}

.item-nav-admin:hover {
  color: #026278;
  font-size: x-large;
}

.nav-items li:hover,
.nav-items li a:hover {
  color: #026278;
  font-size: large;
}

.btn_menu {
  display: flex;
  justify-content: space-between;
  color: #026278;
  padding: 15px;
}

.btn_menu a {
  color: #026278;
  text-decoration: none;
}

.input-busqueda {
  display: none;
}

input[type="search"] {
  border-radius: 5px;
  height: 30px;
}

.container-admin-productos,
.container-admin-categorias{
  display: flex;
  padding: 50px;
}

.container-admin-categorias{
  justify-content: center;
}

.categorias,
.form-categoria{
  width: 50%;
}

.tabla-categorias h2{
  text-align: center;
}

/* --------------------------------------------- IMAGENES --------------------------------------------- */
.container-imagenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0 20px 0;
}

.container-imagenes h3 {
  margin: 0;
  padding: 5px;
}
.container-imagenes img {
  width: 70%;
}

.container-imagenes a {
  width: 30%;
  text-align: center;
  text-decoration: none;
  color: #03829e;
}

.container-imagenes a:hover {
  box-shadow: 5px 10px 18px #888888;
  text-align: center;
}

/* --------------------------------------------- EMPRESA --------------------------------------------- */
.container-empresa {
  background-image: url("../images/banner1.jpeg");
  background-size: cover;
  padding: 20px;
}

.empresa {
  padding: 20px;
  margin: 20px;
  background-color: #fdf7ff;
  text-align: justify;
}

/* --------------------------------------------- FORMULARIO --------------------------------------------- */
.form-productos {
  background-color: #fdf7ff;
  padding: 20px;
  margin: 20px auto 20px auto;
}

.form-productos {
  text-align: center;
}

input[type="text"],
textarea {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 5px 10px;
  margin: 5px;
  border: 0;
  border-bottom: 2px solid #03829e;
}

input[type="text"] {
  width: 50%;
}

input[type="submit"] {
  background-color: rgb(194, 129, 162);
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
}

/*---modifica la apariencia del input number---*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"] {
  -webkit-appearance: none;
  margin: 0;
  width: 40%;
  padding: 5px 15px;
}

/* --------------------------------------------- FOOTER --------------------------------------------- */
.footer {
  margin: 0;
  background-image: url("../images/banner1.jpeg");
  background-size: cover;
}

.items-footer {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.items-footer li {
  margin: 8px 15px;
  padding: 5px;
  color: #026278;
  font-size: 30px;
}

/* --------------------------------------------- BREADCRUMBS --------------------------------------------- */
ul.breadcrumb {
  padding: 5px 10px;
  list-style: none;
  background-color: rgb(194, 129, 162);
}

ul.breadcrumb li {
  display: inline;
  font-size: 15px;
  color: #fdf7ff;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: #fdf7ff;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #fdf7ff;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #fdf7ff;
  font-weight: bold;
  text-decoration: underline;
}

/* ============================================== HTML CATEGORIA ============================================== */
.titulo-categoria {
  margin: 0;
  padding: 20px 0px;
  text-align: center;
  width: 100%;
}

/*---------------------------------------------- TABLA DE PRECIOS ---------------------------------------------*/
.tabla-productos,
.form-productos,
.tabla-categorias {
  margin: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tabla-productos th,
.tabla-productos td,
.tabla-categorias th,
.tabla-categorias td {
  width: 15%;
  border-bottom: 1px solid rgb(214, 156, 185);
  padding: 10px 0;
  text-align: center;
  font-size: 15px;
}

.tabla-productos th,
.tabla-categorias th {
  background-color: rgb(194, 129, 162);
  color: #fdf7ff;
}

/*---intercala los colores de las filas*/

.tabla-productos tbody tr:nth-child(odd),
.tabla-categorias tbody tr:nth-child(odd) {
  background-color: white;
}

.tabla-productos tbody tr:nth-child(even),
.tabla-categorias tbody tr:nth-child(even) {
  background-color: #fdf7ff;
}

.tabla-productos tbody,
.tabla-categorias tbody{
  color: #e675ca;
  font-weight: bold;
}

.color-resaltado-1 {
  color: red;
}
.color-resaltado-2 {
  color: blue;
}
.color-resaltado-3 {
  color: green;
}
.color-resaltado-4 {
  color: violet;
}
.color-resaltado-5 {
  color: orange;
}

.no-coincidencias {
  font-weight: bold;
}

.ofertas {
  font-size: 12px;
  text-align: center;
}

.btn-form-productos {
  background-color: rgb(194, 129, 162);
  border: none;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
}

.btn-tabla-ver,
.btn-tabla-editar {
  background-color: #026278;
}

.btn-tabla-borrar {
  background-color: red;
}

.btn-tabla-ver,
.btn-filtros-tabla,
.btn-tabla-editar,
.btn-tabla-borrar {
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 3px;
  margin: 1px;
  padding: 2px;
}
/* ============================================== HTML PRODUCTO ============================================== */

/*---------------------------------------------- CONTAINER PRODUCTO ---------------------------------------------*/
.container-producto {
  display: flex;
  flex-direction: column;
}
.container-producto img {
  width: 80%;
}

.descripcion-producto {
  text-align: center;
  padding: 50px;
}

.descripcion-producto button {
  background-color: rgb(194, 129, 162);
  border: none;
  color: white;
  padding: 16px 32px;
  margin: 10px;
  cursor: pointer;
}

/*  ################################################   DESKTOP   ############################################  */

@media only screen and (min-width: 600px) {
  /*---------------------------------------------- HEADER ---------------------------------------------*/
  .header {
    background-color: #fbefff;
  }

  .banner {
    height: 200px;
  }

  .banner img {
    width: 25%;
  }

  /*---------------------------------------------- NAV ---------------------------------------------*/

  .nav {
    flex-direction: row;
    justify-content: space-between;
    border: none;
    display: flex;
  }

  .nav.show {
    flex-direction: row;
  }

  .nav-items {
    display: flex;
    justify-content: space-around;
  }

  .btn_menu {
    display: none;
  }

  .input-busqueda {
    display: flex;
    align-items: center;
  }

  .banner.mobile-hidden {
    display: flex;
  }

  /*---------------------------------------------- CONTEINER GENERAL ---------------------------------------------*/
  .container {
    text-align: center;
  }

  .container-admin {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .btn-admin {
    background-color: #026278;
    border-radius: 5px;
    width: 50%;
    padding: 50px;
    font-size: xx-large;
    margin: 25px;
    text-decoration: none;
    color: aliceblue;
  }

  /*---------------------------------------------- IMAGENES ---------------------------------------------*/
  .container-imagenes {
    justify-content: space-around;
    align-items: center;
  }

  .container-imagenes img {
    margin: 0 30px 30px 30px;
  }

  /*---------------------------------------------- EMPRESA  ---------------------------------------------*/
  .ver-mas,
  .ver-menos {
    display: none;
  }

  p.mobile-hidden {
    display: initial;
  }

  .formulario-agregar-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /*---------------------------------------------- CATEGORA ---------------------------------------------*/
  .categoria {
    width: 100%;
  }

  .categoria a {
    width: 25%;
  }

  /*---------------------------------------------- TABLA DE PRODUCTOS ---------------------------------------------*/
  .productos,
  .categorias {
    margin-bottom: 20px;
  }

  .form-productos {
    width: 50%;
    margin: 0;
  }

  .form-productos {
    background-color: inherit;
    padding: 0;
  }

  /*---------------------------------------------- PRODUCTO ---------------------------------------------*/
  .container-producto {
    display: flex;
  }

  .container-producto img {
    width: 42%;
  }
}
